In [33]:
#Importing our defined functions
from clean_data_functions import *

In [34]:
import pandas as pd
from sklearn.preprocessing import OrdinalEncoder
import numpy as np
import re 

url = 'Airbnb_Mexico.csv'
airbnb_df = pd.read_csv(url)

# Cleaning Mexico Airbnb Data

In [35]:
airbnb_df.head()

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,35797,https://www.airbnb.com/rooms/35797,20231226034326,2023-12-28,city scrape,Villa in Mexico City · 1 bedroom · 1 bed · 1 bath,NaN,"Centro comercial Santa Fe, parque interlomas y...",https://a0.muscache.com/pictures/f395ab78-1185...,153786,...,NaN,NaN,NaN,NaN,f,1,1,0,0,NaN
1,44616,https://www.airbnb.com/rooms/44616,20231226034326,2023-12-27,city scrape,Home in Mexico City · ★4.58 · 5 bedrooms · 8 b...,NaN,NaN,https://a0.muscache.com/pictures/251410/ec75fe...,196253,...,4.78,4.98,4.48,NaN,f,13,4,2,0,0.43
2,1441434,https://www.airbnb.com/rooms/1441434,20231226034326,2023-12-27,city scrape,Condo in Mexico City · ★4.90 · 1 bedroom · 1 b...,NaN,It is located within walking distance from res...,https://a0.muscache.com/pictures/eccbf27f-463e...,7740056,...,4.88,4.96,4.89,NaN,f,1,1,0,0,1.75
3,607833,https://www.airbnb.com/rooms/607833,20231226034326,2023-12-28,city scrape,Rental unit in Mexico City · ★4.83 · 1 bedroom...,NaN,The area. <br />The people are nice and hel...,https://a0.muscache.com/pictures/20389315/55ab...,1849414,...,4.83,4.50,4.67,NaN,f,1,0,1,0,0.05
4,609012,https://www.airbnb.com/rooms/609012,20231226034326,2023-12-27,city scrape,Rental unit in Mexico City · ★4.67 · 1 bedroom...,NaN,NaN,https://a0.muscache.com/pictures/10209260/f638...,2944126,...,4.59,4.59,4.59,NaN,f,1,1,0,0,0.16

In [36]:
airbnb_df.columns

Index(['id', 'listing_url', 'scrape_id', 'last_scraped', 'source', 'name',
       'description', 'neighborhood_overview', 'picture_url', 'host_id',
       'host_url', 'host_name', 'host_since', 'host_location', 'host_about',
       'host_response_time', 'host_response_rate', 'host_acceptance_rate',
       'host_is_superhost', 'host_thumbnail_url', 'host_picture_url',
       'host_neighbourhood', 'host_listings_count',
       'host_total_listings_count', 'host_verifications',
       'host_has_profile_pic', 'host_identity_verified', 'neighbourhood',
       'neighbourhood_cleansed', 'neighbourhood_group_cleansed', 'latitude',
       'longitude', 'property_type', 'room_type', 'accommodates', 'bathrooms',
       'bathrooms_text', 'bedrooms', 'beds', 'amenities', 'price',
       'minimum_nights', 'maximum_nights', 'minimum_minimum_nights',
       'maximum_minimum_nights', 'minimum_maximum_nights',
       'maximum_maximum_nights', 'minimum_nights_avg_ntm',
       'maximum_nights_avg_ntm', 'calendar_updated', 'has_availability',
       'availability_30', 'availability_60', 'availability_90',
       'availability_365', 'calendar_last_scraped', 'number_of_reviews',
       'number_of_reviews_ltm', 'number_of_reviews_l30d', 'first_review',
       'last_review', 'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'license', 'instant_bookable',
       'calculated_host_listings_count',
       'calculated_host_listings_count_entire_homes',
       'calculated_host_listings_count_private_rooms',
       'calculated_host_listings_count_shared_rooms', 'reviews_per_month'],
      dtype='object')

In [37]:
# Drop not needed Columns
airbnb_df = airbnb_df.drop(['id', 'listing_url', 'scrape_id', 'last_scraped', 'source', 'name', 'description', 'neighborhood_overview', 'picture_url', 'host_id',
       'host_url', 'host_name', 'host_since', 'host_location', 'host_about',
       'host_response_time', 'host_response_rate', 'host_acceptance_rate', 'host_thumbnail_url', 'host_picture_url',
       'host_neighbourhood', 'host_listings_count',
       'host_total_listings_count', 'host_has_profile_pic', 'host_identity_verified', 'neighbourhood','minimum_minimum_nights',
       'maximum_minimum_nights', 'minimum_maximum_nights',
       'maximum_maximum_nights', 'minimum_nights_avg_ntm',
       'maximum_nights_avg_ntm', 'calendar_updated', 'has_availability',
       'availability_30', 'availability_60', 'availability_90', 'calendar_last_scraped', 'number_of_reviews_ltm', 'number_of_reviews_l30d', 'first_review',
       'last_review', 'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'license', 'instant_bookable',
       'calculated_host_listings_count',
       'calculated_host_listings_count_entire_homes',
       'calculated_host_listings_count_private_rooms',
       'calculated_host_listings_count_shared_rooms', 'reviews_per_month', 'host_verifications', 'neighbourhood_group_cleansed', 'bathrooms', 'amenities', 'bedrooms', 'room_type', 'minimum_nights', 'maximum_nights'], axis=1)

In [38]:
airbnb_df = airbnb_df.dropna(subset=['price'])

In [39]:
airbnb_df['beds'] = np.where(pd.isnull(airbnb_df['beds']), np.floor(airbnb_df['accommodates'] / 2), airbnb_df['beds']).astype(int)
airbnb_df['bathrooms_text'] = airbnb_df['bathrooms_text'].str.extract('(\d+\.?\d*)').astype(float)
airbnb_df['bathrooms_text'] = airbnb_df['bathrooms_text'].fillna(1)
airbnb_df['host_is_superhost'] = airbnb_df['host_is_superhost'].fillna('f')
airbnb_df['price'] = airbnb_df['price'].str.replace('$', '').str.replace(',', '').astype(float).astype(int)

In [40]:
null_check(airbnb_df)

Total null values per row:
0        0
1        0
2        0
3        0
4        0
        ..
26755    0
26756    0
26757    0
26758    0
26759    0
Length: 25729, dtype: int64

Total null values per column:
host_is_superhost         0
neighbourhood_cleansed    0
latitude                  0
longitude                 0
property_type             0
accommodates              0
bathrooms_text            0
beds                      0
price                     0
availability_365          0
number_of_reviews         0
dtype: int64

In [41]:
airbnb_df = airbnb_df.dropna()

In [42]:
null_check(airbnb_df)

Total null values per row:
0        0
1        0
2        0
3        0
4        0
        ..
26755    0
26756    0
26757    0
26758    0
26759    0
Length: 25729, dtype: int64

Total null values per column:
host_is_superhost         0
neighbourhood_cleansed    0
latitude                  0
longitude                 0
property_type             0
accommodates              0
bathrooms_text            0
beds                      0
price                     0
availability_365          0
number_of_reviews         0
dtype: int64

In [43]:
drop_dup_reset(airbnb_df)

Deleted 29 duplicates

,host_is_superhost,neighbourhood_cleansed,latitude,longitude,property_type,accommodates,bathrooms_text,beds,price,availability_365,number_of_reviews
0,f,Cuajimalpa de Morelos,19.382830,-99.271780,Entire villa,2,1.0,1,3390,363,0
1,f,Cuauhtémoc,19.411620,-99.177940,Entire home,14,5.5,8,18000,365,64
2,t,Cuauhtémoc,19.429101,-99.160763,Entire condo,2,1.5,1,3350,89,221
3,f,Gustavo A. Madero,19.483210,-99.112410,Private room in rental unit,2,1.0,1,339,86,6
4,f,Cuauhtémoc,19.432210,-99.157080,Entire rental unit,2,1.5,2,1273,329,22
...,...,...,...,...,...,...,...,...,...,...,...
25695,f,Benito Juárez,19.381450,-99.148560,Entire rental unit,2,1.0,1,970,265,0
25696,f,Cuauhtémoc,19.413522,-99.175167,Private room in rental unit,2,1.0,1,175,262,0
25697,f,Cuauhtémoc,19.411594,-99.167618,Entire rental unit,5,2.0,3,1166,266,0
25698,f,Cuauhtémoc,19.403856,-99.164122,Private room in rental unit,2,1.0,1,286,267,0
25699,f,Benito Juárez,19.386484,-99.177185,Entire rental unit,2,1.0,1,800,269,0

In [44]:
dup_check(airbnb_df)

Duplicates found: False

Number of duplicates: 0

In [45]:
#Applying the reformatting the names of the columns
column_name_mapping = {'host_is_superhost' : 'superhost', 'neighbourhood_cleansed' : 'neighbourhood', 'bathrooms_text' : 'bathrooms'}

format_column_names(airbnb_df, column_name_mapping)

New column names:
 Index(['superhost', 'neighbourhood', 'latitude', 'longitude', 'property_type',
       'accommodates', 'bathrooms', 'beds', 'price', 'availability_365',
       'number_of_reviews'],
      dtype='object')

In [46]:
# Count each unique value in 'ColumnA'
value_counts = airbnb_df['property_type'].value_counts()
value_counts

property_type
Entire rental unit             9392
Entire condo                   3441
Private room in rental unit    2984
Private room in home           2098
Entire loft                    1512
                               ...
Earthen home                      1
Shared room in tiny home          1
Private room in dorm              1
Entire chalet                     1
Private room in resort            1
Name: count, Length: 93, dtype: int64

In [47]:
# Find values that appear 50 times or more
values_to_keep = value_counts[value_counts >= 50].index

# Filter the DataFrame to keep rows with those values
airbnb_df = airbnb_df[airbnb_df['property_type'].isin(values_to_keep)]

In [48]:
# Count each unique value in 'ColumnA'
value_counts = airbnb_df['property_type'].value_counts()
value_counts

property_type
Entire rental unit                    9392
Entire condo                          3441
Private room in rental unit           2984
Private room in home                  2098
Entire loft                           1512
Entire serviced apartment              953
Private room in condo                  898
Entire home                            743
Room in hotel                          424
Private room in guesthouse             304
Private room in guest suite            297
Private room in serviced apartment     282
Entire guest suite                     243
Private room in bed and breakfast      239
Private room in casa particular        226
Room in boutique hotel                 187
Private room in loft                   137
Shared room in home                    103
Entire guesthouse                       92
Private room in townhouse               87
Private room in hostel                  85
Room in aparthotel                      73
Entire vacation home                    64
Shared room in hostel                   54
Shared room in guesthouse               54
Shared room in rental unit              53
Tiny home                               52
Name: count, dtype: int64

In [49]:
airbnb_df

,superhost,neighbourhood,latitude,longitude,property_type,accommodates,bathrooms,beds,price,availability_365,number_of_reviews
1,f,Cuauhtémoc,19.411620,-99.177940,Entire home,14,5.5,8,18000,365,64
2,t,Cuauhtémoc,19.429101,-99.160763,Entire condo,2,1.5,1,3350,89,221
3,f,Gustavo A. Madero,19.483210,-99.112410,Private room in rental unit,2,1.0,1,339,86,6
4,f,Cuauhtémoc,19.432210,-99.157080,Entire rental unit,2,1.5,2,1273,329,22
5,t,Miguel Hidalgo,19.428330,-99.176340,Entire loft,2,2.0,2,1002,115,99
...,...,...,...,...,...,...,...,...,...,...,...
25695,f,Benito Juárez,19.381450,-99.148560,Entire rental unit,2,1.0,1,970,265,0
25696,f,Cuauhtémoc,19.413522,-99.175167,Private room in rental unit,2,1.0,1,175,262,0
25697,f,Cuauhtémoc,19.411594,-99.167618,Entire rental unit,5,2.0,3,1166,266,0
25698,f,Cuauhtémoc,19.403856,-99.164122,Private room in rental unit,2,1.0,1,286,267,0
25699,f,Benito Juárez,19.386484,-99.177185,Entire rental unit,2,1.0,1,800,269,0

## Create DataFrame

In [50]:
# Separate the columns
categoricals_df = airbnb_df.select_dtypes(include='object')
numericals_df = airbnb_df.select_dtypes(include='number')

## Categorical

In [51]:
categoricals_df

      superhost      neighbourhood                property_type
1             f         Cuauhtémoc                  Entire home
2             t         Cuauhtémoc                 Entire condo
3             f  Gustavo A. Madero  Private room in rental unit
4             f         Cuauhtémoc           Entire rental unit
5             t     Miguel Hidalgo                  Entire loft
...         ...                ...                          ...
25695         f      Benito Juárez           Entire rental unit
25696         f         Cuauhtémoc  Private room in rental unit
25697         f         Cuauhtémoc           Entire rental unit
25698         f         Cuauhtémoc  Private room in rental unit
25699         f      Benito Juárez           Entire rental unit

[25077 rows x 3 columns]

### Nominals

In [52]:
# Create new Dataframes splitt in nominal and ordinal
nominal_columns = ['superhost', 'neighbourhood']
nominal_df = categoricals_df[nominal_columns]
nominal_df

      superhost      neighbourhood
1             f         Cuauhtémoc
2             t         Cuauhtémoc
3             f  Gustavo A. Madero
4             f         Cuauhtémoc
5             t     Miguel Hidalgo
...         ...                ...
25695         f      Benito Juárez
25696         f         Cuauhtémoc
25697         f         Cuauhtémoc
25698         f         Cuauhtémoc
25699         f      Benito Juárez

[25077 rows x 2 columns]

In [53]:
# get_dummies with all the norminal columns
norminals_df = pd.get_dummies(nominal_df, dtype=int)
norminals_df

,superhost_f,superhost_t,neighbourhood_Azcapotzalco,neighbourhood_Benito Juárez,neighbourhood_Coyoacán,neighbourhood_Cuajimalpa de Morelos,neighbourhood_Cuauhtémoc,neighbourhood_Gustavo A. Madero,neighbourhood_Iztacalco,neighbourhood_Iztapalapa,neighbourhood_La Magdalena Contreras,neighbourhood_Miguel Hidalgo,neighbourhood_Milpa Alta,neighbourhood_Tlalpan,neighbourhood_Tláhuac,neighbourhood_Venustiano Carranza,neighbourhood_Xochimilco,neighbourhood_Álvaro Obregón
1,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
2,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
5,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25695,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
25696,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
25697,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
25698,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
25699,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [54]:
# Concat the two categorical Dataframes
result_categorical_df = pd.concat([norminals_df], axis=1)
result_categorical_df

,superhost_f,superhost_t,neighbourhood_Azcapotzalco,neighbourhood_Benito Juárez,neighbourhood_Coyoacán,neighbourhood_Cuajimalpa de Morelos,neighbourhood_Cuauhtémoc,neighbourhood_Gustavo A. Madero,neighbourhood_Iztacalco,neighbourhood_Iztapalapa,neighbourhood_La Magdalena Contreras,neighbourhood_Miguel Hidalgo,neighbourhood_Milpa Alta,neighbourhood_Tlalpan,neighbourhood_Tláhuac,neighbourhood_Venustiano Carranza,neighbourhood_Xochimilco,neighbourhood_Álvaro Obregón
1,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
2,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
5,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25695,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
25696,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
25697,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
25698,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
25699,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0

## Numberical

In [55]:
numericals_df.head()

,latitude,longitude,accommodates,bathrooms,beds,price,availability_365,number_of_reviews
1,19.411620,-99.177940,14,5.5,8,18000,365,64
2,19.429101,-99.160763,2,1.5,1,3350,89,221
3,19.483210,-99.112410,2,1.0,1,339,86,6
4,19.432210,-99.157080,2,1.5,2,1273,329,22
5,19.428330,-99.176340,2,2.0,2,1002,115,99

In [56]:
def outlier_thresholds(dataframe, variable):
    quartile1 = dataframe[variable].quantile(0.1)
    quartile3 = dataframe[variable].quantile(0.9)
    interquantile_range = quartile3 - quartile1
    up_limit = quartile3 + 1.5 * interquantile_range
    low_limit = quartile1 - 1.5 * interquantile_range
    return low_limit, up_limit

def replace_with_thresholds(dataframe, variable):
    low_limit, up_limit = outlier_thresholds(dataframe, variable)
    dataframe.loc[(dataframe[variable] < low_limit), variable] = round(low_limit,0)
    dataframe.loc[(dataframe[variable] > up_limit), variable] = round(up_limit,0)
    
columns = ["latitude",
           "longitude",
           "accommodates",
           "bathrooms",'beds','price','availability_365', 'number_of_reviews']
for col in columns:
    replace_with_thresholds(numericals_df, col)

#### Concat both

In [57]:
final_df = pd.concat([result_categorical_df, numericals_df], axis=1)
final_df

,superhost_f,superhost_t,neighbourhood_Azcapotzalco,neighbourhood_Benito Juárez,neighbourhood_Coyoacán,neighbourhood_Cuajimalpa de Morelos,neighbourhood_Cuauhtémoc,neighbourhood_Gustavo A. Madero,neighbourhood_Iztacalco,neighbourhood_Iztapalapa,...,neighbourhood_Xochimilco,neighbourhood_Álvaro Obregón,latitude,longitude,accommodates,bathrooms,beds,price,availability_365,number_of_reviews
1,1,0,0,0,0,0,1,0,0,0,...,0,0,19.411620,-99.177940,14,4.0,6,6430,365,64
2,0,1,0,0,0,0,1,0,0,0,...,0,0,19.429101,-99.160763,2,1.5,1,3350,89,221
3,1,0,0,0,0,0,0,1,0,0,...,0,0,19.483210,-99.112410,2,1.0,1,339,86,6
4,1,0,0,0,0,0,1,0,0,0,...,0,0,19.432210,-99.157080,2,1.5,2,1273,329,22
5,0,1,0,0,0,0,0,0,0,0,...,0,0,19.428330,-99.176340,2,2.0,2,1002,115,99
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25695,1,0,0,1,0,0,0,0,0,0,...,0,0,19.381450,-99.148560,2,1.0,1,970,265,0
25696,1,0,0,0,0,0,1,0,0,0,...,0,0,19.413522,-99.175167,2,1.0,1,175,262,0
25697,1,0,0,0,0,0,1,0,0,0,...,0,0,19.411594,-99.167618,5,2.0,3,1166,266,0
25698,1,0,0,0,0,0,1,0,0,0,...,0,0,19.403856,-99.164122,2,1.0,1,286,267,0
25699,1,0,0,1,0,0,0,0,0,0,...,0,0,19.386484,-99.177185,2,1.0,1,800,269,0

# Check which columns are needed for our model and which are not

## Strength of Correlation

Variables with a higher absolute value of correlation with the dependent variable (closer to -1 or 1) typically have a stronger linear relationship. Variables with very low correlations (close to 0) might not be useful predictors on their own. However, even variables with lower correlations could be significant in the presence of other variables, especially if they capture different aspects of the dependent variable's variability.

In [58]:
correlation_matrix = final_df.corr()
price_correlation = correlation_matrix['price']
price_correlation_sorted_desc = price_correlation.sort_values(ascending=False)
price_correlation_sorted_desc

price                                   1.000000
accommodates                            0.556181
bathrooms                               0.482504
beds                                    0.473967
neighbourhood_Cuauhtémoc                0.129912
neighbourhood_Miguel Hidalgo            0.126302
latitude                                0.112987
superhost_t                             0.100817
availability_365                        0.048581
neighbourhood_Cuajimalpa de Morelos     0.012645
neighbourhood_La Magdalena Contreras   -0.004596
neighbourhood_Milpa Alta               -0.016407
neighbourhood_Xochimilco               -0.023880
neighbourhood_Tláhuac                  -0.026827
neighbourhood_Álvaro Obregón           -0.037519
neighbourhood_Azcapotzalco             -0.042383
neighbourhood_Iztacalco                -0.046545
number_of_reviews                      -0.052463
neighbourhood_Iztapalapa               -0.058069
neighbourhood_Gustavo A. Madero        -0.066334
neighbourhood_Tlalpan                  -0.069961
neighbourhood_Coyoacán                 -0.075107
neighbourhood_Venustiano Carranza      -0.077309
superhost_f                            -0.100817
neighbourhood_Benito Juárez            -0.113379
longitude                              -0.161802
Name: price, dtype: float64

## Statistical Significance

It's important to test the statistical significance of the correlation coefficients to ensure that the observed relationship is not due to random chance. This can be done using tests such as the Pearson correlation significance test.

In [59]:
from scipy.stats import pearsonr

# Assuming final_df is your DataFrame and it has been defined earlier

final_col = final_df.columns

for col in final_col:
    # Skip the 'Price' column to avoid calculating its correlation with itself
    if col == 'price':
        continue

    # Calculate the Pearson correlation coefficient and p-value
    corr_coefficient, p_value = pearsonr(final_df[col], final_df['price'])

    # Check if the p-value is less than or equal to 0.05
    if p_value > 0.05:
        # Print the column name, correlation coefficient, and p-value for significant correlations
        print(f'{col} Pearson Correlation Coefficient: {corr_coefficient:.3f}')
        print(f'{col} P-value: {p_value:.3e}')

neighbourhood_La Magdalena Contreras Pearson Correlation Coefficient: -0.005
neighbourhood_La Magdalena Contreras P-value: 4.667e-01

- Correlation Coefficient (corr_coefficient): This value ranges from -1 to 1, where closer to 1 or -1 indicates a strong linear relationship, and closer to 0 indicates a weak or no linear relationship.
- P-value (p_value): This value helps you determine the significance of the correlation. A common threshold for significance is 0.05:
If the p-value is less than or equal to 0.05, the correlation is considered statistically significant, meaning there's strong evidence that the true correlation is not zero.
If the p-value is greater than 0.05, the correlation is not considered statistically significant, suggesting that the observed correlation might be due to random variation in the sample.

Droped all Property Type on top

Drop Latitude, Longitude, Maximum Nights, Maximum Nights, Review Scores Rating, Review Scores Accuracy, Review Scores Location

In [60]:
final_df = final_df.drop([ 'neighbourhood_La Magdalena Contreras', 'superhost_t', 'superhost_f'], axis=1)

## Multicollinearity

Including variables that are highly correlated with each other (not just with the dependent variable) can lead to multicollinearity, which can skew the results of a linear regression model. It's often advisable to avoid including variables that have a very high correlation with one another.

In [61]:
import pandas as pd
from statsmodels.stats.outliers_influence import variance_inflation_factor
from statsmodels.tools.tools import add_constant

# Assuming final_df is your DataFrame and it has been defined earlier, and contains only explanatory variables
X = add_constant(final_df)

# Calculate VIF for each explanatory variable
vif_data = pd.DataFrame()
vif_data["feature"] = X.columns
vif_data["VIF"] = [variance_inflation_factor(X.values, i) for i in range(X.shape[1])]

# Filter out features with VIF equal to or greater than 5
high_vif = vif_data[vif_data["VIF"] >= 5]

print(high_vif)

                              feature           VIF
0                               const  3.366639e+07
2         neighbourhood_Benito Juárez  2.487774e+01
3              neighbourhood_Coyoacán  1.342309e+01
5            neighbourhood_Cuauhtémoc  6.202845e+01
6     neighbourhood_Gustavo A. Madero  6.959920e+00
9        neighbourhood_Miguel Hidalgo  3.735494e+01
11              neighbourhood_Tlalpan  6.543784e+00
13  neighbourhood_Venustiano Carranza  7.896273e+00
15       neighbourhood_Álvaro Obregón  8.674291e+00
16                           latitude  8.413760e+00

- A rule of thumb is that if VIF is 1, then the variable is not correlated with any other variables.
- A VIF between 1 and 5 suggests moderate correlation, but it's often not severe enough to require attention.
- A VIF greater than 5 or 10 indicates high multicollinearity that you may want to address by removing the variable or using techniques like Principal Component Analysis (PCA) or partial least squares regression.


- Drop one Dummy column in categorical

## Practical Thresholds

As a rule of thumb, some analysts might consider variables with a correlation coefficient above a certain threshold, such as |0.2| or |0.3|, as potentially useful predictors. This threshold is arbitrary and should be adjusted based on the context of the analysis and the points mentioned above.

In [62]:
import numpy as np  # Ensure numpy is imported

# Calculate correlation matrix
corr_matrix = final_df.corr().abs()

# Select upper triangle of correlation matrix to avoid double counting
upper_tri = corr_matrix.where(np.triu(np.ones(corr_matrix.shape), k=1).astype(np.bool_))

# Define a correlation coefficient threshold
corr_threshold = 0.7

# Find features with correlation greater than the threshold
high_corr_pairs = [(var1, var2) for var1 in upper_tri.columns for var2 in upper_tri.index if upper_tri.at[var2, var1] > corr_threshold]

print("Highly correlated pairs:", high_corr_pairs)

Highly correlated pairs: [('beds', 'accommodates')]

- Review and Understand: Understand the role of these variables in your analysis. Are they essential? Can the information they provide be captured by other variables?
- Remove or Combine Variables: Consider removing one of the variables in a highly correlated pair or combining variables to reduce multicollinearity.
- Regularization: Apply regularization methods (Lasso or Ridge regression) that can handle multicollinearity by penalizing the size of coefficients.
- Dimensionality Reduction: Use techniques like Principal Component Analysis (PCA) to create a set of uncorrelated predictors.

In [63]:
final_df

,neighbourhood_Azcapotzalco,neighbourhood_Benito Juárez,neighbourhood_Coyoacán,neighbourhood_Cuajimalpa de Morelos,neighbourhood_Cuauhtémoc,neighbourhood_Gustavo A. Madero,neighbourhood_Iztacalco,neighbourhood_Iztapalapa,neighbourhood_Miguel Hidalgo,neighbourhood_Milpa Alta,...,neighbourhood_Xochimilco,neighbourhood_Álvaro Obregón,latitude,longitude,accommodates,bathrooms,beds,price,availability_365,number_of_reviews
1,0,0,0,0,1,0,0,0,0,0,...,0,0,19.411620,-99.177940,14,4.0,6,6430,365,64
2,0,0,0,0,1,0,0,0,0,0,...,0,0,19.429101,-99.160763,2,1.5,1,3350,89,221
3,0,0,0,0,0,1,0,0,0,0,...,0,0,19.483210,-99.112410,2,1.0,1,339,86,6
4,0,0,0,0,1,0,0,0,0,0,...,0,0,19.432210,-99.157080,2,1.5,2,1273,329,22
5,0,0,0,0,0,0,0,0,1,0,...,0,0,19.428330,-99.176340,2,2.0,2,1002,115,99
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25695,0,1,0,0,0,0,0,0,0,0,...,0,0,19.381450,-99.148560,2,1.0,1,970,265,0
25696,0,0,0,0,1,0,0,0,0,0,...,0,0,19.413522,-99.175167,2,1.0,1,175,262,0
25697,0,0,0,0,1,0,0,0,0,0,...,0,0,19.411594,-99.167618,5,2.0,3,1166,266,0
25698,0,0,0,0,1,0,0,0,0,0,...,0,0,19.403856,-99.164122,2,1.0,1,286,267,0
25699,0,1,0,0,0,0,0,0,0,0,...,0,0,19.386484,-99.177185,2,1.0,1,800,269,0

Droped all Bed Types on top

In [64]:
final_df.to_csv("clean_airbnb_df_mexico.csv")